<div class="container-tabla">
    <h2>{{titulo}}</h2>
<mat-table [dataSource]="filas" class="mat-elevation-z8">

    <!-- Dynamic columns -->
    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna">
      <mat-header-cell *matHeaderCellDef> {{columna}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[columna]}} </mat-cell>
    </ng-container>
  
    <!-- Header row -->
    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <!-- Row -->
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  
  </mat-table>

</div>